.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom-width: 2px;
  border-bottom-color: black;
  border-bottom-style: solid;
}

button {
  border-radius: 10px;
}
